.article {
  height: 100%;
  display: grid;
  grid-template-rows: 10% auto 10%;
  grid-template-columns: 5% auto 5%;
}

.article>section {
  display: grid;
  grid-template-rows: 2rem auto;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 6px;
  border: 1px solid var(--light-grey);
  background-color: white;
}

.button {
  width: auto;
  justify-self: right;
}